.page {
    font-family: 'Inter', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    background-color:#2A2C2F;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1280px;
    text-rendering: optimizeLegibility;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
  }
