.lead {
    margin: 57px auto 0;
    max-width: 984px;
    width: 100%;
    text-align: center;
  }

  @media screen and (max-width: 1024px) {
    .lead {
      max-width: 928px;
      margin: 48px auto 0;
    }
  }

  @media screen and (max-width: 768px) {
    .lead {
      max-width: 768px;
      margin: 48px 0 0;
    }
  }

  @media screen and (max-width: 425px) {
    .lead {
      max-width: 425px;
    }
  }

  @media screen and (max-width: 320px) {
    .lead {
      max-width: 320px;
      margin: 48px 2px 0;
    }
  }