.cover__subtitle {
    max-width: 360px;
    line-height: 22px;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    z-index: 1;
  }

  @media screen and (max-width: 485px) {
    .cover__subtitle {
      max-width: 385px;
      line-height: 122%;
      font-size: 14px;
    }
  }

  @media screen and (max-width: 320px) {
    .cover__subtitle {
      max-width: 288px;
      line-height: 16px;
    }
  }