.footer__links {
    display: flex;
    column-gap: 18px;
  }

  @media screen and (max-width: 485px) {
    .footer__links {
      display: flex;
      flex-direction: column;
      gap: 28px;
    }
  }

  @media screen and (max-width: 320px) {
    .footer__links {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }