.footer__copyright {
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
  }

  @media screen and (max-width: 485px) {
    .footer__copyright {
      line-height: 15px;
      font-size: 14px;
      margin: 48px 0 0;
    }
  }

  @media screen and (max-width: 320px) {
    .footer__copyright {
      line-height: 14px;
      font-size: 14px;
      margin: 48px 0 0;
    }
  }