.cover {
    max-width: 1184px;
    width: 100%;
    margin: 92px auto 0;
    position: relative;
  }

  @media screen and (max-width: 1024px) {
    .cover {
      max-width: 1024px;
    }
  }

  @media screen and (max-width: 768px) {
    .cover {
      max-width: 768px;
      margin: 90px 0 0;
    }
  }

  @media screen and (max-width: 485px) {
    .cover {
      max-width: 425px;
      margin: 75px 0 0;
    }
  }

  @media screen and (max-width: 320px) {
    .cover {
      max-width: 320px;
      margin: 66px 0 0;
    }
  }