.lead__caption {
    line-height: 14px;
    font-size: 10px;
    font-weight: 400;
    margin: 8px 0 0;
    text-align: left;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    max-width: 928px;
  }

  @media screen and (max-width: 1024px) {
    .lead__caption {
      margin: 8px auto 0;
      width: 100%;
    }
  }

  @media screen and (max-width: 974px) {
    .lead__caption {
      width: 92%;
    }
  }

  @media screen and (max-width: 425px) {
    .lead__caption {
      width: 91%;
    }
  }
