.cover__title {
    line-height: 76px;
    font-size: 72px;
    font-weight: 900;
    max-width: 560px;
    margin: 0 0 32px
  }

  @media screen and (max-width: 485px) {
    .cover__title {
      max-width: 385px;
      line-height: 115%;
      font-size: 42px;
      margin: 0 0 16px;
    }
  }

  @media screen and (max-width: 320px) {
    .cover__title {
      max-width: 288px;
      line-height: 35px;
      font-size: 32px;
      margin: 0 0 16px;
    }
  }